<header>
  <nav class='cf'>
    <ul class='cf'>
      <li class="nav-item">
        <a class="nav-link logoTitle" href="/">{{title}}</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/parent/login">Parent Area</a>
      </li>
    </ul>
  </nav>
</header>
<div class="login-sitter">
    <h1 class="text-center">LOGIN AREA</h1>
  <form action="/sitter/login" class="loginx" method="POST" id="form">
    <label for="username"></label>
    <input type="text" class="form-control" placeholder="Username" name="username">

    <label for="password"></label>
    <input type="password"  class="form-control" placeholder="Password" name="password">

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button type="submit">Sign in</button>

    <p class="account-message href">
      Don't have an account? <a href="/sitter/signup">Sign up</a>
    </p>
  </form>
</div>

<!-- Footer -->
<footer>

  <div class="footer-bottom text-center">
    Copyright &copy; <script>document.write(new Date().getFullYear())</script> {{title}}
  </div>
</footer>
