<header>
  <nav class='cf'>
    <ul class='cf'>
      <li class="nav-item">
        <a class="nav-link logoTitle" href="/">{{title}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/sitter/login'>Log In</a>
      </li>
    </ul>
  </nav>
</header>



<div class="container">
  <h2 class="signup-title"><a class="nav-link href" href='/parent/signup'>Are you a Parent?</a> </h2>
  <form id="form" class="sitter-form" action="/sitter/signup" method="POST">
    <label for="firstName"></label>
    <input type="text" name="firstName" class="form-control" placeholder="First Name">
    <label for="lastName"></label>
    <input type="text" name="lastName" class="form-control" placeholder="Last Name">
    <label for="username"></label>
    <input type="text" name="username" class="form-control" placeholder="Username">
    <label for="password"></label>
    <input type="password" name="password" placeholder="Password">
    <label for="city"></label>
    <input type="text" name="city" class="form-control" placeholder="City">
    <label for="country"></label>
    <input type="text" name="country" class="form-control" placeholder="Country">
    <label for="age"></label>
    <input type="text" name="age" class="form-control" placeholder="Age">
    <label for="salary"></label>
    <input type="text" name="salary" class="form-control" placeholder="Salary Expectation">
    <label for="image"></label>
    <input type='text' name='image' class="form-control" placeholder="Image url" />
    <div class="form-group col-md-4">
      <div class="g-recaptcha" data-sitekey="6LeR0ZMUAAAAAHe19OLvaksuM7cB-k8XHCCmE96b"></div>
    </div>
    <button type="submit">Create account</button>
  </form>
</div>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

<!-- Footer -->
<footer>

  <div class="footer-bottom text-center">
    Copyright &copy; <script>document.write(new Date().getFullYear())</script> {{title}}
  </div>
</footer>
