               .navbar-collapse.collapse.show .cf {
                   position: relative;
                   display: inline-block;
                   top: 3em;
                   z-index: 10;
               }
               
               a {
                   text-decoration: none;
               }
               
               .navbar-collapse.collapse.show .cf .nav-item {
                   display: contents;
               }
               
               #nav .navbar-collapse.collapse.show .cf .nav-item a {
                   margin: 1em 0;
               }
               
               #nav .cf .babysitter {
                   position: absolute;
                   left: 50%;
               }
               
               #nav .cf .logout {
                   position: absolute;
                   left: 79%;
               }
               
               #nav .cf .to-parents {
                   position: absolute;
                   left: 25%;
               }
               
               #fadein.loaderx {
                   opacity: 1;
                   margin: 0px;
                   padding: 0px;
                   transition: opacity 3s;
               }
               
               #progress {
                   border-bottom: 6px solid blue;
                   width: 0;
                   position: fixed;
                   top: 64px;
                   left: 0;
                   z-index: 1000;
               }
               /* hide message with a keyframe */
               
               @keyframes update-response {
                   from {
                       opacity: 1;
                   }
                   to {
                       opacity: 0;
                   }
               }
               
               @-webkit-keyframes update-response {
                   from {
                       opacity: 1;
                   }
                   to {
                       opacity: 0;
                   }
               }
               
               .alert-success {
                   position: relative;
                   top: 151px;
                   text-align: center;
                   left: 0;
                   width: 100%;
                   align-self: center;
                   animation: update-response 0.5s 1;
                   -webkit-animation: update-response 0.5s 1;
                   animation-fill-mode: forwards;
                   animation-delay: 108s;
                   -webkit-animation-delay: 108s;
                   /* Safari and Chrome */
                   -webkit-animation-fill-mode: forwards;
               }
               /* .alert-danger {
                   position: relative;
                   /* top: 151px; 
                   text-align: center;
                   left: 0;
                   width: 100%;
                   align-self: center;
                   animation: update-response 0.5s 1;
                   -webkit-animation: update-response 0.5s 1;
                   animation-fill-mode: forwards;
                   animation-delay: 108s;
                   -webkit-animation-delay: 108s;
                   -webkit-animation-fill-mode: forwards;
               } */
               
               .profile-head {
                   position: relative;
                   left: 11%;
               }
               
               .profile-edit-btn {
                   border: none;
                   border-radius: 1.5rem;
                   width: 70%;
                   padding: 2%;
                   font-weight: 600;
                   color: #fff;
                   cursor: pointer;
               }
               
               .panel-body {
                   position: relative;
                   width: 100%;
                   overflow: hidden;
                   min-width: 100%;
                   height: 400px;
                   top: 0px;
                   left: 0px;
                   margin-left: 7px;
                   margin-bottom: 50px;
                   background: url('https://source.unsplash.com/random') no-repeat center center fixed;
                   -webkit-background-size: cover;
                   -moz-background-size: cover;
                   -o-background-size: cover;
                   background-size: cover;
               }
               
               .addRevForm .form-center {
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-self: center;
                   height: 52%;
                   width: 70%;
                   position: relative;
                   top: 57px;
                   padding: 1em;
               }
               
               .addRevForm .form-comments {
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-self: center;
                   height: 100vh;
                   width: 90%;
                   position: relative;
                   top: 165px;
                   margin-bottom: 7em;
               }
               
               .addRevForm #buttom {
                   position: absolute;
                   left: 0em;
                   width: 100px;
               }
               
               .flip {
                   font-size: 16px;
                   padding: 10px;
                   text-align: center;
                   background-color: #b5b8bd;
                   color: white;
                   border: solid 1px #a6d8a8;
                   margin: auto;
                   cursor: pointer;
               }
               
               #help {
                   position: absolute;
                   transition: all 0.5s ease-in;
                   top: 820px;
                   box-sizing: border-box;
                   color: #333;
                   font-weight: 900;
                   left: -40%;
                   margin: 20px auto;
                   padding: 24px;
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   width: 47%;
                   font-size: 1em;
               }
               
               #pass {
                   font-size: 16px;
                   padding: 10px;
                   text-align: center;
                   background-color: #b5b8bd;
                   color: white;
                   border: solid 1px #a6d8a8;
                   margin: auto;
                   cursor: pointer;
                   width: 80%;
                   left: 10%;
                   position: relative;
               }
               
               .pass-change {
                   display: none;
               }
               
               .editProfy {
                   position: relative;
                   overflow-x: hidden;
                   margin-left: 0;
                   padding-left: 0 !important;
                   top: 10px;
                   height: 100%;
                   width: 100%;
                   min-height: 100vw !important;
               }
               
               .wrapper {
                   display: flex;
                   flex-direction: row;
                   justify-content: flex-start;
                   width: 100%;
                   position: relative;
                   margin-left: 7px;
               }
               
               .editProfy .form-container {
                   width: 70%;
                   min-height: 100%;
                   padding: 0.3em;
                   background-color: grey;
                   position: relative;
                   left: 2%;
                   top: 0;
                   margin-bottom: 200px;
               }
               
               .editProfy .href {
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   color: var(--primary-link-color);
                   text-align: center;
                   top: 15px;
                   position: relative;
                   margin: 60px 0px;
               }
               
               .editProfy .form-center {
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-self: center;
                   min-height: 100vh;
                   width: 100%;
                   left: 0;
                   padding-right: 2em;
                   position: relative;
                   top: 0px;
                   background-color: rgb(235, 224, 224);
                   padding-bottom: 126px;
               }
               
               .ppic-container {
                   position: relative;
                   top: 0px;
                   left: 10px;
                   margin-right: 20px;
                   width: 22%;
                   padding: 0.3em;
                   background: gray;
                   height: 30%;
               }
               
               .profile-image {
                   top: 0px;
                   position: relative;
                   left: 0;
                   width: 100%;
                   height: 100%;
               }
               /*Style of upload button */
               
               .upload-btn-wrapper {
                   position: relative;
                   overflow: hidden;
                   display: inline-block;
                   left: 25%;
               }
               
               .upload {
                   border: 2px solid gray;
                   color: gray;
                   background-color: white;
                   padding: 8px 20px;
                   border-radius: 8px;
                   font-size: 20px;
                   font-weight: bold;
                   cursor: pointer;
               }
               
               .upload:hover,
               .upload-btn-wrapper input[type=file]:hover {
                   background-color: #333;
                   color: #fff;
               }
               
               .upload-btn-wrapper input[type=file] {
                   font-size: 100px;
                   position: absolute;
                   cursor: pointer;
                   left: 0;
                   top: 0;
                   opacity: 0;
               }
               
               .emp-profile {
                   margin-bottom: 3%;
                   width: 100%;
                   text-align: center;
                   overflow-x: hidden;
                   position: relative;
                   z-index: 1;
               }
               
               .emp-profile .profile-rating {
                   margin-bottom: 3em;
                   position: relative;
               }
               
               .emp-profile .under-pic {
                   position: relative;
                   top: 100px;
                   height: 100%;
               }
               
               .emp-profile .form-container {
                   width: 100%;
                   min-height: 100%;
                   margin: 2em 0em;
                   padding: 0.5em;
                   position: relative;
                   background: #ebedeb;
                   top: 10px
               }
               
               .profile-img {
                   text-align: center;
                   left: 7%;
                   top: 6px;
                   width: 100%;
                   position: absolute;
                   margin: 0px;
                   height: 34vh;
                   padding: 0.3em;
                   background: gray;
               }
               
               .profile-img img {
                   width: 100%;
                   height: 100%;
               }
               
               .profile-img .file {
                   position: relative;
                   overflow: hidden;
                   margin: 0;
                   width: 100%;
                   border: none;
                   border-radius: 0;
                   font-size: 15px;
                   background: #212529b8;
                   top: -37px;
               }
               
               .message {
                   font-size: 1em;
                   color: red;
                   font-weight: 400;
                   position: absolute;
                   left: 61%;
               }
               
               .profile-head .nav-tabs .nav-link {
                   background-color: rgb(184, 178, 171);
                   display: block;
               }
               
               .profile-head .nav-tabs .nav-link.active {
                   color: rgb(90, 185, 189);
                   display: block;
                   background-color: #fff;
               }
               
               .profile-head .nav-tabs .nav-link:hover {
                   color: rgb(73, 144, 146);
                   background-color: rgb(170, 162, 162);
               }
               
               .profile-head .nav-tabs .nav-link.active:hover {
                   color: rgb(243, 250, 250);
                   background-color: rgb(170, 162, 162);
               }
               /*edit page */
               
               .before-form {
                   position: relative;
                   width: 100%;
                   height: auto;
                   background-color: #fff;
                   top: 22px;
               }
               
               .form-center #form-group {
                   display: flex;
                   width: 100%;
                   flex-direction: row;
                   margin-bottom: 0.5em;
               }
               
               #form-group label {
                   display: inline-block;
                   width: 35%;
                   position: relative;
                   top: 0.5em;
               }
               
               #button {
                   width: 100px !important;
                   position: relative;
                   left: 26%;
                   margin-top: 1em;
                   margin-bottom: 100px;
               }
               
               .disRev {
                   margin-top: 6px;
                   width: 100%;
                   text-align: center;
                   border-bottom: 1px solid grey;
                   position: relative;
                   display: flex;
                   flex-direction: row;
                   justify-content: flex-start;
                   top: 20px;
                   font-size: 1em;
                   height: auto;
                   padding: 0 1em;
               }
               
               .title-container {
                   width: 100%;
                   height: 350px;
                   background: url('https://images.pexels.com/photos/590491/pexels-photo-590491.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: cover;
                   display: flex;
                   flex-direction: column;
               }
               /* style reviews*/
               
               .addRev {
                   position: relative;
                   top: 80px;
                   left: 0;
                   color: rgb(79, 146, 81);
                   font-size: 26px;
                   margin-bottom: 1.5em;
               }
               
               .h5-comm {
                   color: rgb(79, 146, 81);
                   font-size: 1em;
                   position: relative;
                   top: 100px;
                   left: -10em;
               }
               
               .review {
                   position: relative;
                   border-bottom: 1px solid grey;
                   top: -150px;
                   font-size: 0.8em;
                   left: 0px;
                   margin-bottom: 20px;
               }
               
               .review-item {
                   margin: -10px 0;
                   padding-bottom: 12px;
                   font-size: 0.8em;
                   position: relative;
                   top: -161px;
                   background: transparent;
               }
               
               .addRevForm {
                   display: flex;
                   align-items: center;
                   flex-direction: column;
                   margin-bottom: 200px;
                   width: 100%;
                   min-height: 100vh;
                   top: -51px;
               }
               
               .addRevForm label {
                   display: flex;
                   align-items: center;
                   flex-direction: column;
                   color: black;
               }
               
               .comment {
                   margin-bottom: 47px;
                   margin-top: 1em;
                   font-size: 1em;
                   position: relative;
                   top: 8px;
                   color: #333;
                   width: 100%;
                   left: 3em;
                   text-align: start;
                   text-transform: capitalize;
               }
               
               .span {
                   font-size: 0.9em;
                   color: grey;
                   position: relative;
                   top: 8px;
                   left: 31px;
                   margin-right: 16px;
                   margin-bottom: 9px;
                   display: flex;
                   flex-direction: row;
               }
               
               .footer {
                   position: relative;
                   bottom: 0px;
                   color: #fff;
                   text-align: center;
                   background-color: #333;
                   height: 60px;
                   width: 100%;
                   left: 0;
                   margin-top: 100px;
                   z-index: 21;
                   margin-left: 0;
                   padding-left: 0
               }
               /* enable absolute positioning */
               
               .inner-addon {
                   position: relative;
                   width: 100%;
               }
               /* style icon */
               
               .inner-addon .fa {
                   position: absolute;
                   padding: 10px;
                   pointer-events: none;
               }
               /* style icon */
               
               .inner-addon .fa {
                   position: absolute;
                   padding: 10px;
                   pointer-events: none;
               }
               /* align icon */
               
               .left-addon .fa {
                   left: 0px;
               }
               /* add padding  */
               
               .left-addon input,
               .left-addon textarea {
                   padding-left: 30px;
               }
               
               .form-group input[type=file],
               .form-group input[type=text] {
                   border: 2px solid gray;
               }
               
               @media screen and (min-width: 300px) and (max-width: 550px) {
                   #progress {
                       top: 57px;
                   }
                   .emp-profile {
                       top: 32px;
                   }
                   .emp-profile .form-container .col-md-3 {
                       text-align: center;
                   }
                   .addRev {
                       position: relative;
                       top: 62px;
                   }
                   .editProfy .form-container {
                       margin: 0;
                       width: 100%;
                       min-height: 100%;
                       padding: 0.3em;
                       background-color: grey;
                       position: relative;
                       left: 0;
                       top: 0;
                       z-index: 1;
                       margin-bottom: 200px;
                       align-self: center;
                   }
                   .emp-profile .profile-img {
                       display: inline-block;
                       width: 87%;
                       left: 0px;
                       position: relative;
                   }
                   .emp-profile .profile-img .file {
                       position: relative;
                       overflow: hidden;
                       width: 100%;
                       border: none;
                       border-radius: 0;
                       font-size: 15px;
                       background: #212529b8;
                       top: -38px;
                       margin: 0;
                       left: 0;
                   }
                   .editProfy {
                       width: 100%;
                   }
                   #form-group label {
                       display: none;
                   }
                   .ppic-container {
                       position: absolute;
                       top: -139px;
                       left: 0px;
                       width: 50%;
                       height: 25vh;
                       z-index: 2;
                   }
                   .review {
                       top: -160px;
                   }
                   .editProfy .form-center {
                       left: 0;
                       padding: 1em 2em;
                       position: relative;
                       width: 100%;
                   }
                   .editProfy .href {
                       top: -9px;
                       position: relative;
                       left: 0;
                       font-size: 2em;
                   }
                   .text-center #button {
                       position: relative;
                       left: 0;
                       top: 12px;
                       font-weight: bold;
                   }
                   .addRevForm .form-comments {
                       width: 90%;
                   }
                   .logo {
                       top: 56px;
                   }
                   .profile-head {
                       width: 90%;
                       position: relative;
                       left: 0;
                       margin: 0;
                       padding: 0;
                   }
                   .emp-profile .under-pic {
                       position: relative;
                       height: 100%;
                       top: 5px;
                   }
                   .col-head {
                       width: 96%;
                       padding: 0;
                       margin: 0;
                       top: 32px;
                       left: 0;
                   }
                   .profile-head .profile-rating {
                       left: 1em;
                   }
                   #myTab {
                       position: relative;
                       left: 0;
                       margin-bottom: 2em;
                   }
               }
               
               @media only screen and (min-width: 551px) and (max-width:767px) {
                   body {
                       background: yellow;
                   }
                   #progress {
                       top: 57px;
                   }
                   .text-center #button {
                       position: relative;
                       left: 0;
                       top: 12px;
                       font-weight: bold;
                       margin-left: 27%;
                   }
                   .emp-profile .form-container .ppic-container {
                       position: relative;
                       top: 5px;
                       left: 0px;
                       margin-right: 20px;
                       width: 24%;
                       padding: 0.5em;
                       background-color: grey;
                       height: 25vh;
                   }
                   .form-container .profile-img {
                       text-align: center;
                       left: 0;
                       top: 0px;
                       width: 65%;
                       position: relative;
                       z-index: 1;
                       margin: 0px;
                       height: 65%;
                       background: gray;
                       display: inline-block;
                   }
                   .form-container .profile-img .file {
                       position: relative;
                       overflow: hidden;
                       margin: 0;
                       width: 100%;
                       border: none;
                       border-radius: 0;
                       font-size: 15px;
                       background: #212529b8;
                       top: -38px;
                   }
                   .editProfy .href {
                       top: -9px;
                       position: relative;
                       left: 0;
                       font-size: 2em;
                   }
                   .profile-head {
                       position: relative;
                       left: 0;
                       top: 158px;
                       width: 80%;
                   }
                   .emp-profile .under-pic {
                       position: relative;
                       height: 100%;
                       top: -210px;
                   }
                   .col-head {
                       position: relative;
                       top: -355px;
                   }
               }
               /* portrait  tablet */
               
               @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                   #button {
                       position: absolute;
                       top: 660px;
                       left: 6.5em;
                   }
               }
               /* Landscape tablet */
               
               @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                   #button {
                       position: relative;
                       margin-top: 1em;
                       left: 26%;
                   }
               }
               
               @media (min-width:1200px) {
                   .panel-body {
                       top: 23px;
                   }
               }