/* seach bar style */
.formless {
    position: relative;
    margin: auto;
    top: -127px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 100px;

}


.search-x {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: rgb(82, 180, 16);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-x:hover {
    cursor: pointer;
}


.search-x::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}


.search-x::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}


#input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    font-weight: bold;
    height: 50px;
    outline: none;
    border: none;
    background: rgb(82, 180, 16);
    color: white;
    text-shadow: 0 0 10px rgb(82, 180, 16);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(82, 180, 16) 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

#input:hover {
    cursor: pointer;
}



#input:focus {
    width: 500px;
    opacity: 1;
    cursor: text;
}

#input:focus~.search-x {
    right: -530px;
    background: #151515;
    z-index: 3;
}

#input:focus~.search-x::before {
    top: 0;
    left: 0;
    width: 25px;
}

#input:focus~.search-x::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

#input::placeholder {
    color: white;
    opacity: 0.5;
    z-index: 3;
    font-weight: bolder;
}

/* end of seach bar style */

@media screen and (max-width: 689px) {

    .pTitle {
        width: 100%;
    }

    .formless {
        top: 15px;
        text-align: center;
        left: -2em;
    }

    .formless form {
        display: inline-block;
    }

    #input:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
    }

    #input:focus~.search-x {
        right: -330px;
    }

}