/* .emp-profile {
  position: relative;
  padding: 3%;
  margin-top: 3%;
  margin-left: 2.2%;
  margin-bottom: 3%;
  border-radius: 3em;
  width: 96%;
  background-color: #bb8f60;
  text-align: center;
}


.form-container {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 2em 0.5em;
  padding: 0.5em;
}

.emp-profile .profile-img {
  text-align: center;
  left: 7px;
  top: -8px;
  width: 200px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 200px;
}

.emp-profile .profile-img img {
  width: 100%;
  height: 200px;
}

.emp-profile .profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-head .nav-tabs .nav-link {
  background-color: rgb(184, 178, 171);
  display: block;
}

.profile-head .nav-tabs .nav-link.active {
  color: rgb(90, 185, 189);
  display: block;
  background-color: #fff;
}

.profile-head .nav-tabs .nav-link:hover {
  color: rgb(73, 144, 146);
  background-color: rgb(170, 162, 162);
}

.profile-head .nav-tabs .nav-link.active:hover {
  color: rgb(243, 250, 250);
  background-color: rgb(170, 162, 162);
} */

@media screen and (min-width: 300px]) and (max-width: 550px) {

  .addRevForm .form-comments {
    width: 85%;
  }

  .addRevForm #buttom {
    left: 0em;
    top: -10px;
  }

  .emp-profile .addRevForm #buttom {
    left: 0em;
    top: -10px;
  }

}