.emp-profile {
    position: relative;
    padding: 3%;
    margin-top: 3%;
    margin-left: 2.2%;
    margin-bottom: 3%;
    border-radius: 3em;
    width: 96%;
    background-color: #bb8f60;
    text-align: center;
}

.emp-profile .profile-rating {
    margin-bottom: 3em;
    position: relative;
}

.emp-profile .under-pic {
    position: relative;
    top: 100px;
}

.form-container {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 2em 0.5em;
    padding: 0.5em;
}

.emp-profile .profile-img {
    text-align: center;
    left: 7px;
    top: -8px;
    width: 200px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 200px;
}

.emp-profile .profile-img img {
    width: 100%;
    height: 200px;
}

.emp-profile .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-head .nav-tabs .nav-link {
    background-color: rgb(184, 178, 171);
    display: block;
}

.profile-head .nav-tabs .nav-link.active {
    color: rgb(90, 185, 189);
    display: block;
    background-color: #fff;
}

.profile-head .nav-tabs .nav-link:hover {
    color: rgb(73, 144, 146);
    background-color: rgb(170, 162, 162);
}

.profile-head .nav-tabs .nav-link.active:hover {
    color: rgb(243, 250, 250);
    background-color: rgb(170, 162, 162);
}

/*edit page */
.before-form {
    position: relative;
    width: 100%;
    height: 300px;
    /* background-color: rgb(190, 181, 181); */
    background-color: #fff;
    top: 40px;
}

.editProfy {
    background-color: rgb(230, 217, 217);
}

.before-form img {
    width: 20%;
    top: 20px;
    border-radius: 50%;
    position: relative;
}

.form-center #form-group {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 0.5em;
}

#form-group label {
    display: inline-block;
    width: 35%;
    position: relative;
    top: 0.5em;
}

#button {
    width: 100px !important;
    position: relative;
    left: 14em;
}

@media screen and (min-width: 300px) and (max-width: 550px) {
    .emp-profile .profile-img {
        width: 96%;
    }

    #form-group label {
        display: none;
    }
}


/* portrait  tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #button {
        position: absolute;
        top: 660px;
        left: 6.5em;
    }

}

/* Landscape tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    #button {
        position: absolute;
        top: 660px;
        left: 8em;
    }

}

/* end of edit page */