                            /* parent area */
                            
                            .parent-form {
                                width: 380px;
                                position: relative;
                                top: 100px;
                                padding: 1em 2em;
                                border-radius: 1em;
                                height: auto;
                                background-color: #fff;
                                margin: auto auto 100px;
                            }
                            
                            #form h3 {
                                position: relative;
                                text-align: center;
                            }
                            
                            .signup-parent {
                                overflow-x: hidden;
                                background: url('https://images.pexels.com/photos/208188/pexels-photo-208188.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
                                background-size: cover;
                                height: 100%;
                                position: absolute;
                                width: 100%;
                            }
                            /* end of parent area  */
                            
                            .signup-title {
                                position: relative;
                                top: -30px;
                                color: black;
                                left: -40px;
                            }
                            
                            .signup-title a {
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                cursor: pointer;
                                color: rgb(233, 212, 212);
                                font-weight: bold;
                                position: relative;
                            }
                            
                            #form input {
                                box-sizing: border-box;
                                font-size: 16px;
                                border-radius: 4px;
                                outline: 0;
                                height: 2.6em;
                                width: 100%;
                                margin-bottom: 20px;
                            }
                            
                            .parent-form {
                                margin: 30px auto;
                                width: 380px;
                                position: relative;
                                top: 100px;
                                padding-bottom: 20px;
                                height: auto;
                            }
                            
                            .parent-form input,
                            .parent-form button {
                                box-sizing: border-box;
                                font-size: 14px;
                                outline: 0;
                                padding: 4px;
                                width: 100%;
                            }
                            
                            .parent-form button {
                                background: #43a3e6;
                                border: 1px solid #43a3e6;
                                border-radius: 4px;
                                color: #fff;
                                cursor: pointer;
                                display: inline-block;
                                font-size: 14px;
                                padding: 8px 16px;
                                text-decoration: none;
                                text-transform: uppercase;
                                transition: .3s ease background;
                                width: 100%;
                            }
                            
                            .parent-form button:hover {
                                background: #fff;
                                color: #43a3e6;
                                transition: .3s ease background;
                            }
                            
                            .signup-container {
                                margin-bottom: 150px;
                            }
                            /* enable absolute positioning */
                            
                            .inner-addon {
                                position: relative;
                            }
                            /* style icon */
                            
                            .inner-addon .fa {
                                position: absolute;
                                padding: 10px;
                                pointer-events: none;
                            }
                            /* style icon */
                            
                            .inner-addon .fa {
                                position: absolute;
                                padding: 10px;
                                pointer-events: none;
                            }
                            /* align icon */
                            
                            .left-addon .fa {
                                left: 0px;
                            }
                            /* add padding  */
                            
                            .left-addon input {
                                padding-left: 30px;
                            }
                            
                            @media (min-width: 300px) and (max-width: 550px) {
                                .parent-form {
                                    margin: 30px auto;
                                    width: 88%;
                                    position: relative;
                                    top: 100px;
                                    height: auto;
                                    margin-bottom: 120px;
                                }
                                .parent-form p,
                                .parent-form p a {
                                    color: #333;
                                    position: relative;
                                    display: flex;
                                    top: 15px;
                                    justify-content: flex-start;
                                    flex-direction: row;
                                }
                                .parent-form p a {
                                    top: 0;
                                    margin-left: 0.7em;
                                }
                                .parent-form button {
                                    margin-top: 2em;
                                }
                                .signup-title {
                                    position: absolute;
                                    top: 35px;
                                    color: #fff;
                                    text-align: center;
                                    left: 0px;
                                    width: 100%;
                                }
                                .signup-title a {
                                    display: inline-block;
                                    top: 5px;
                                    margin: 1em 0;
                                    left: 0;
                                }
                            }