header {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}


.login-sitter h1 {
  position: relative;
  top: 140px;
  font-size: 1.5em;
  color: rgb(63, 60, 60);
  font-weight: bold;
}

.login-sitter {
  background: url('https://images.pexels.com/photos/51953/mother-daughter-love-sunset-51953.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.login-sitter .loginx {
  width: 380px;
  position: relative;
  top: 160px;
  padding-bottom: 60px;
  padding: 1em 2em;
  border-radius: 1em;
  height: auto;
  background-color: #fff;
  margin: auto;
}

/* 
.form-group {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

.login-container {
  overflow-y: hidden;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
} */