header {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}


.login-sitter h1 {
  position: relative;
  top: 140px;
  font-size: 1.5em;
  color: rgb(63, 60, 60);
  font-weight: bold;
}

.login-sitter {
  background: url('https://images.pexels.com/photos/51953/mother-daughter-love-sunset-51953.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.login-sitter .loginx {
  width: 380px;
  position: relative;
  top: 160px;
  padding-bottom: 60px;
  padding: 1em 2em;
  border-radius: 1em;
  height: auto;
  background-color: #fff;
  margin: auto;
}