@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* CSS Variables */
:root {
	--primary-color: #b90415;
	--primary-color-hover: #d3071b;
	--secondary-color: #103063;
	--secondary-color-hover: #143f85;
	--light-color: #f4f4f4;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'PT Sans', sans-serif;
	background-color: aliceblue;
	margin: 0;
	color: #fff;
	line-height: 1.6;
	overflow-x: hidden;
	min-height: 400px;
	/* margin-bottom: 400px; */
	clear: both;
}

.cf .login {
	position: absolute;
	left: -9px;
	width: 180px;
}

.cf .register {
	position: absolute;
	width: 180px;
	left: 80%;
}

.cf .logout {
	position: absolute;
	float: right;
	left: 83%;
}

.user-link:nth-child(5n + 3) {
	text-transform: capitalize;
	font-weight: bold;
}

.user-link {
	letter-spacing: 2px;
	text-decoration: none;
	color: grey;
}

.user-link:hover {
	letter-spacing: 1px;
	text-decoration: none;
	color: black;
}

a {
	text-transform: capitalize;
	letter-spacing: 1px;
	text-decoration: none;
}

.name:hover {
	letter-spacing: 2px;
	text-decoration: none;
	color: black;
}

th {
	background-color: #4caf50;
	color: white;
}

.bg {
	/* The image used */
	position: absolute;
	background-image: url("../images/famil.jpeg");
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn a {
	text-decoration: none;
	letter-spacing: 2px;
	color: white;
}

header .nav-link {
	margin-right: 80px;
	padding: 0.5rem 2.6rem;
	left: 10px;
	width: 180px;
	height: 45px;
}

header .nav-link:hover {
	width: 180px;
}

header .right {
	right: 500px;
}

.row label {
	width: 200px;
	background-color: rgb(184, 178, 171);
}

.col-md-6 p {
	background-color: rgb(184, 178, 171);
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #ccc;
	text-decoration: none;
}

.nav-link {
	/* color: white; */
	color: white;
	position: relative;
	display: inline;
	margin-right: 10px;
}

/*navigation */
.cf {
	margin: 0;
	top: 0;
}

/* .cf ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
} */

.cf li a:hover {
	background-color: #444;
	opacity: 1;
}

.cf .nav-item a {
	display: flex;
	flex-direction: row;
	width: 180px;
	font-size: 1em;
	align-items: center;
	text-align: center;
}

.cf .logoTitle {
	position: relative;
	top: 5px;
	float: left;
	zoom: 0.9;
	margin: 0;
	padding: 2;
	top: 0px;
	width: 100%;
	height: 49px;
	/* color: rgb(158, 147, 147);
  opacity: 0.5; */
}

.cf .logoTitle:hover {
	background-color: #444;
	opacity: 1;
}

/* nav li a */
a:hover {
	color: orange;
	font-weight: bold;
}

.editProfy {
	position: absolute;
	top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	overflow-y: hidden;
}

.href {
	position: relative;
	text-align: center;
	/* color: orange; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.editProfy .form-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 100vh;
	width: 70%;
	position: relative;
	top: -124px;
	margin-bottom: 7em;
}

.addRevForm .form-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 100vh;
	width: 70%;
	position: relative;
	top: -124px;
	margin-bottom: 7em;
}

.addRevForm #buttom {
	position: relative;
	left: -4em;
	width: 100px;
}

.editProfy .href {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	top: -180px;
	color: orange;
}

.sign {
	position: relative;
	left: auto;
	text-decoration: none;
}

.sign:hover,
.signup-title a:hover {
	color: orange;
	text-decoration: none;
}

.child {
	width: 80%;
	height: 40%;
	position: relative;
	top: 40px;
	left: 200px;
}

.section-main h1,
h2 {
	position: relative;
	top: -90px;
	color: black;
}

/* #music{
	background: url(../images/child.jpg) no-repeat bottom/cover;
} */
.section {
	padding: 2rem 0;
}

.section-head {
	font-size: 2.5rem;
	margin: 0;
}

.section h3 {
	font-size: 2rem;
}

section#entertainment {
	background: url(../img/section-bg.jpg) no-repeat bottom/cover;
	padding: 10rem 0;
}

.gift-cards {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	text-align: left;
}

/* Showcase */
#showcase {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

#showcase .container {
	margin-top: 25vh;
}

#showcase h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}

#showcase h2 {
	font-size: 1em;
}

/* Footer */
footer .footer-cols {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding: 2rem;
	text-align: left;
	font-size: 14px;
	margin-bottom: 250px;
}

.footer {
	position: fixed;
	bottom: 0;
	color: #fff;
	text-align: center;
	background-color: #333;
	height: 60px;
	width: 100%;
}

.footer p {
	color: white;
	text-align: center;
	position: relative;
	top: 1em;
}

.footer .footer-bottom p {
	color: white;
	text-align: center;
}

footer .footer-cols ul {
	list-style: none;
}

footer .footer-cols ul li:first-child {
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1px;
	margin-bottom: 1rem;
}

footer .footer-bottom {
	background-color: #333;
	padding: 1rem;
	bottom: 0;
	position: fixed;
	margin: 0;
	color: #fff;
	width: 100%;
	padding: 22px;
}

/* Utility Classes */
.container {
	position: relative;
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
	height: 100%;
	top: 0px;
}

.lead {
	font-size: 1em !important;
	position: relative;
	top: -71px;
}

.text-center {
	text-align: center;
}

/* Buttons */
.btn {
	padding: 1rem;
	color: #fff;
	display: inline-block;
}

.btn-default {
	width: 100%;
	color: #fff;
}

.btn-default a:hover {
	text-decoration: none;
	color: #fff;
}

.btn-primary {
	background: var(--primary-color);
	color: #fff;
	width: 30%;
}

.btn-primary a:hover {
	text-decoration: none;
	color: #fff;
}

.btn-primary:hover {
	background: var(--primary-color-hover);
}

.btn-secondary {
	background: var(--secondary-color);
}

.btn-secondary:hover {
	background: var(--secondary-color-hover);
}

/* Text colors */
.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-light {
	color: var(--light-color);
}

.bg-light {
	background: var(--light-color);
	color: #333;
}

.mb {
	margin-bottom: 1rem;
}

.mt {
	margin-top: 1rem;
}

/* Navigation */
nav {
	height: 45px;
	width: 100vw;
	background-color: #333;
	color: #eee;
	position: relative;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	float: left;
	list-style-type: none;
}

.cf li:nth-child(1) {
	position: absolute;
	left: 0em;
}

.cf li:nth-child(2) {
	position: absolute;
	float: right;
	left: 63%;
}

/* .cf li .third {
  position: absolute;
  float: right;
  left: -120px;
} */

/* .cf li:nth-child(3) {
  position: absolute;
  float: right;
  left: 55%;
}

.cf li:nth-child(4) {
  position: absolute;
  float: right;
  left: 83%;
} */

nav a {
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: #eee;
	text-decoration: none;
}

nav a#openup {
	display: none;
}

.cards {
	position: relative;
	top: 200px;
	color: grey;
	background-color: white;
	height: 80%;
	width: 40%;
}

.cf li a:hover,
.cf .nav-link {
	color: #c9c505;
	text-decoration: none;
	width: 190px !important;
	font-size: 1em;
}

.cf {
	zoom: 1;
	margin: 0;
	padding: 0;
	font-size: 1em;
	top: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.cf li {
	padding: 0;
	top: 0px;
	margin: 0 1em;
	width: 180px;
	font-size: 1em;
}

.cf:before,
.cf:after {
	content: '';
	display: table;
	margin: 0;
	padding: 0;
}

.cf:after {
	clear: both;
	margin: 0;
	padding: 0;
}

.error-message {
	background: #f02b63;
	box-sizing: border-box;
	color: #fff;
	margin: 15px auto -1px;
	padding: 10px 12px;
	width: 100%;
	font-size: 0.8em;
	height: 60px;
}

.babyImg {
	position: relative;
	top: -400px;
	left: 400px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

/* Dropdown Button */
.dropdown-button {
	background-color: #0000b3;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Contnavt (Hidden by Default) */
.dropdown-list {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-list a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: verdana;
}

/* Change color of dropdown links on hover */
.dropdown-list a:hover {
	background-color: #ddd;
}

/* Show the dropdown list on hover */
.dropdown:hover .dropdown-list {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown list is shown */
.dropdown:hover .dropdown-button {
	background-color: #6666ff;
}

/* Profile area*/

/* body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
} */
/* .emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;
  left: 20px;
  width: 200px;
  height: 150px;
}

.profile-img img {
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
} */

.profile-img .file input {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
}

.profile-head h5 {
	color: #333;
}

.profile-head h6 {
	color: #0062cc;
}

.profile-edit-btn {
	border: none;
	border-radius: 1.5rem;
	width: 70%;
	padding: 2%;
	font-weight: 600;
	color: #6c757d;
	cursor: pointer;
}

.profile-rating {
	font-size: 12px;
	color: #818182;
	margin-top: 5%;
}

.profile-rating span {
	color: #495057;
	font-size: 15px;
	font-weight: 600;
}

.profile-head .nav-tabs {
	margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
	font-weight: 600;
	border: none;
}

.profile-head .nav-tabs .nav-link.active {
	border: none;
	border-bottom: 6px solid rgb(90, 185, 189);
}

.profile-work {
	padding: 14%;
	margin-top: -15%;
	position: relative;
	top: -60px;
}

.profile-work p {
	font-size: 12px;
	color: #818182;
	font-weight: 600;
	margin-top: 10%;
}

.profile-work a {
	text-decoration: none;
	color: #495057;
	font-weight: 600;
	font-size: 14px;
}

.profile-work ul {
	list-style: none;
}

.profile-tab {
	left: 100px;
	position: relative;
	color: #444;
	top: 20px;
	margin-bottom: 200px;
}

.babys {
	left: -10px !important;
}

.profile-tab label {
	font-weight: 600;
	color: #444;
	padding: 0.5em 0em;
}

.profile-tab p {
	font-weight: 600;
	color: #0062cc;
}

.profile-tab a {
	font-weight: 600;
	color: #0062cc;
}

.col-md-6 p {
	position: relative;
	top: 0px;
	left: 70px;
	padding: 0.5em 0em;
	color: #686b6e;
}

.tab-pane {
	position: relative;
	left: 230px;
}

.card-inner {
	margin-left: 4rem;
}

/* Display the list of users*/
.main-box.no-header {
	padding-top: 20px;
}

.main-box {
	background: #ffffff;
	-webkit-box-shadow: 1px 1px 2px 0 #cccccc;
	-moz-box-shadow: 1px 1px 2px 0 #cccccc;
	-o-box-shadow: 1px 1px 2px 0 #cccccc;
	-ms-box-shadow: 1px 1px 2px 0 #cccccc;
	box-shadow: 1px 1px 2px 0 #cccccc;
	margin-bottom: 16px;
	-webikt-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.table a.table-link.danger {
	color: #e74c3c;
}

.label {
	border-radius: 3px;
	font-size: 0.875em;
	font-weight: 600;
}

.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}

a {
	color: #3498db;
	outline: none !important;
}

.user-list tbody td > img {
	position: relative;
	max-width: 50px;
	width: 50px;
	max-height: 50px;
	height: 50px;
	float: left;
	margin-right: 15px;
}

.table thead tr th {
	text-transform: uppercase;
	font-size: 0.875em;
}

.table thead tr th {
	border-bottom: 2px solid #e7ebee;
}

.table tbody tr td:first-child {
	font-size: 1.125em;
	font-weight: 300;
}

.table tbody tr td {
	font-size: 0.875em;
	vertical-align: middle;
	border-top: 1px solid #e7ebee;
	padding: 12px 8px;
}

.snippet {
	position: relative;
	top: 100px;
}

.snippet tr {
	color: black;
}

.account-message {
	position: relative;
	top: 10px;
	text-decoration: none;
}

.href {
	text-decoration: none;
}

/* style reviews*/
.addRev {
	position: relative;
	top: 80px;
	left: -4em;
	color: rgb(79, 146, 81);
	font-size: 26px;
}

.h5-comm {
	color: rgb(79, 146, 81);
	font-size: 1em;
	position: relative;
	top: 100px;
	left: -10em;
}

.review {
	position: relative;
	border-bottom: 1px solid grey;
	top: -150px;
	font-size: 0.8em;
	left: 0px;
	margin-bottom: 20px;
}

.review-item {
	margin: -10px 0;
	padding-bottom: 12px;
	font-size: 0.8em;
	background-color: rgb(184, 178, 171);
	position: relative;
	top: -161px;
	border-bottom: 1px solid grey;
}

.comment {
	margin-bottom: 47px;
	margin-top: 1em;
	font-size: 1em;
	position: relative;
	top: 22px;
	color: #333;
	left: 0px;
	text-transform: capitalize;
}

.span {
	font-size: 0.9em;
	color: grey;
	position: absolute;
	top: 3px;
	left: 9px;
	margin-right: 16px;
	margin-bottom: 9px;
}

.addRevForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 200px;
	width: 100%;
	position: relative;
	top: -80px;
}

.addRevForm label {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: black;
}

.addRevForm .form-comments {
	background-color: rgb(184, 178, 171);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 100vh;
	width: 70%;
	position: relative;
	top: -444px;
	margin-bottom: 7em;
}

.addRevForm .form-comments .review {
}

.disRev {
	margin-top: 6px;
	border-top: 1px solid grey;
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: 1px solid grey;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	top: 20px;
	font-size: 1em;
	padding: 0 1em;
}

.title-container {
	width: 100%;
	height: 350px;
	background: url('https://images.pexels.com/photos/590491/pexels-photo-590491.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

#table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
}

#table th,
#table td {
	text-align: left;
	padding: 12px;
}

#table tr {
	border-bottom: 1px solid #ddd;
}

/* 
#table tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
} */

.pTitle {
	color: rgb(117, 109, 109);
	position: relative;
	top: 45px;
	align-self: center;
	width: 80%;
	background: #fff;
	padding: 1em;
	height: 150px;
	font-size: 1.6em;
}

header {
	position: fixed;
	z-index: 9999;
	/* hides scrill page under nav bar*/
}

label {
	color: black;
	/* label class from edit pages */
}

.fTitle {
	color: black;
}

#home {
	position: relative;
	left: -110px;
}

#profile {
	position: relative;
	left: -110px;
}

#homey {
	position: relative;
	left: 220px;
}

#profiley {
	position: relative;
	left: 220px;
}

@media screen and (min-width: 600px) and (max-width: 950px) and (orientation: landscape) {
	footer .footer-cols {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
		padding: 2rem;
		text-align: left;
		font-size: 14px;
		margin-bottom: 250px;
		text-align: center;
	}

	.footer-cols {
		margin-bottom: 2em;
	}
}

@media screen and (max-height: 580px) {
	#showcase p.lead {
		display: none;
	}
}

/* @media only screen and (min-width: 420px) and (max-width: 600px) { */
@media only screen and (min-width: 481px) and (max-width: 600px) and (orientation: portrait) {
	.gift-cards {
		grid-template-columns: 1fr;
	}

	footer .footer-cols {
		display: none;
	}

	nav {
		height: auto;
		border-bottom: 0;
		width: 100vw;
		background-color: #333;
		color: #eee;
		position: relative;
	}

	#showcase ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0;
		margin: 0 -90px;
		/* height: 30px; */
		width: 100%;
	}

	#showcase h1 {
		font-size: 0.5rem;
	}

	#showcase h2 {
		font-size: 0.5rem;
	}

	#openup {
		position: relative;

		margin: 0;
		padding: 0;
		height: 10px;
		border-bottom: 0;
	}

	.cf::before,
	.cf::after {
		content: '';
		display: table;
		margin: 0;
		padding: 0;
	}

	.cf::after {
		margin: 0;
		padding: 0;
		height: auto;
	}

	nav a {
		text-align: left;
		width: 100%;
		text-indent: 15px;
		background: #333;
		border-bottom: 1px solid #555;
	}

	nav a:hover {
		background: #444;
		width: 100%;
	}

	#showcase .logoTitle {
		color: white;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		top: 15px;
		float: left;
	}

	#showcase header {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
	}

	.cf .nav-item {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		float: right;
		width: 180px;
		font-size: 0.7rem;
		text-align: center;
		align-content: center;
	}

	.cf ul {
		width: 100%;
		display: flex;
		height: 10vh;
		flex-direction: row;
		justify-content: center;
	}

	nav a#openup {
		display: block;
		background-color: #333;
		width: 100%;
		position: relative;
		height: 0vh;
		color: white;
	}

	nav ul {
		display: none;
		height: auto;
	}

	nav li {
		width: 100%;
		float: left;
		position: relative;
		list-style: none;
	}

	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
		background: #333;
		border-bottom: 1px solid #555;
	}

	nav a:hover {
		background: #444;
	}

	nav a#openup {
		display: inline-block;
		background-color: #333;
		width: 100%;
		position: relative;
	}

	.nav-link {
		border-bottom: none;
	}

	nav a#openup:after {
		content: '|||';
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		/* IE 9 */
		-webkit-transform: rotate(-90deg);
		/* Safari and Chrome */
		width: 30px;
		height: 10px;
		display: inline-block;
		position: absolute;
		left: 150px;
		top: 25px;
	}

	#form {
		width: 100%;
	}

	.section-main {
		position: relative;
		top: 100px;
		z-index: 100;
	}

	.section-main h1 {
		display: none;
	}

	.section-main h2 {
		position: relative;
		top: 70px;
	}

	.bg {
		position: relative;
		top: 0px;
		height: 400px;
		width: 100vw;
	}

	#music {
		position: relative;
		top: 30px;
	}

	.form-group {
		position: relative;
		top: -200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		/* background-color: red; */
		height: 600px;
		padding: 10px;
	}

	#form {
		width: 60%;
	}

	footer .footer-cols {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(1, 1fr);
		padding: 2rem;
		text-align: left;
		font-size: 14px;
		margin-bottom: 250px;
		text-align: center;
	}

	.footer-bottom {
		position: fixed;
		bottom: 0;
		background-color: #333;
		height: 60px;
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {
	body {
		height: 40vh;
	}

	nav #openup:after {
		content: '|||';
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		right: 16px;
		top: 25px;
		font-weight: bold;
		font-size: 22px;
	}

	.hide-on-small {
		display: none;
	}

	.footer-cols {
		display: none !important;
	}

	/* .cfs #openup {
    display: none;
    visibility: hidden;
  } */

	.section {
		position: relative;
		padding: 2rem 0;
		top: 100px;
	}

	.section-main h1 {
		position: relative;
		top: -20px;
	}

	.section-main h2 {
		display: none;
	}

	#showcase {
		height: 50vh;
	}

	#showcase .container {
		margin-top: 15vh;
	}

	#showcase h1 {
		font-size: 1.5em;
	}

	#showcase h2 {
		font-size: 1em;
	}

	nav {
		height: auto;
		border-bottom: 0;
	}

	nav ul {
		display: none;
		height: auto;
	}

	nav li {
		width: 100%;
		float: left;
		position: relative;
		list-style: none;
	}

	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
		background: #333;
		border-bottom: 1px solid #555;
	}

	nav a:hover {
		background: #444;
	}

	nav a#openup {
		display: inline-block;
		background-color: #333;
		width: 100%;
		position: relative;
	}

	.nav-link {
		border-bottom: none;
	}

	.form-group {
		position: relative;
		top: -200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		/* background-color: red; */
		height: 600px;
		padding: 10px;
	}

	#form {
		width: 80%;
	}
}

/* @media screen and (min-width: 480px) and (max-width: 541px) {
   body {
    height: 40vh;
  }

  nav #openup:after {
    content: '|||';
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 16px;
    top: 25px;
    font-weight: bold;
    font-size: 22px;

  }

  .section {
    position: relative;
    padding: 2rem 0;
    top: 100px;
  }

  .section-main h1 {
    position: relative;
    top: -20px;
  }

  .section-main  h2, p {
    display: none;
  }

  #showcase {
    height: 50vh;
  }

  #showcase .container {
    margin-top: 15vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav li {
    width: 100%;
    float: left;
    position: relative;
    list-style: none;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }

  nav a:hover {
    background: #444;
  }

  nav a#openup {
    display: inline-block;
    background-color: #333;
    width: 100%;
    position: relative;
  }

  .nav-link {
    border-bottom: none;
  }

  .form-group {
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background-color: red; 
    height: 600px;
    padding: 10px;
  }

  #form {
    width: 80%;
  }
}  */
