 

            <a class="nav-link" href='/sitter/login'>Log In as Babysitter</a>
  
<form action="/parent/login" method="POST" id="form">
  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button type="submit">Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/parent/signup">Sign up</a>
  </p>
</form>