<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/signup.css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/fadeEffect.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body id="fadein">

<header>
      <nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top cf">
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      id="nav-collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto cf">
      <li class="nav-item">
        <a class="nav-link logoTitle" href="/">{{title}}</a>
      </li>
      <li class="nav-item login">
        <a class="nav-link" href='/parent/login'>Log In</a>
      </li>
    </ul>
  </nav>
</header>

<div class="signup-parent">
  <h3 class="signup-title"><a class="nav-link href" href='/sitter/signup'>Are you a Sitter?</a> </h3>
  <form id="form" class="parent-form" enctype="multipart/form-data" action="/parent/signup" method="POST">
  <h3>Sign up Now</h3>
    <div class="inner-addon left-addon">
      <i class="fa fa-user"></i>
        <input type="text" name="firstName" class="form-control" placeholder="First Name">
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-user"></i>
    <input type="text" name="lastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-user"></i>
        <input type="text" name="username" class="form-control" placeholder="Username" required='true'>
    </div>
      <div class="inner-addon left-addon">
        <i class="fa fa-user"></i>
        <input type="email" name="email" class="form-control" placeholder="Email" required='true'>
      </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-lock"></i>
        <input type="password" name="password" class="form-control" placeholder="Password" required='true'>
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-globe"></i>
  <input type="text" name="city" class="form-control" placeholder="City">
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-flag"></i>
    <input type="text" name="country" class="form-control" placeholder="Country">
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-birthday-cake"></i>
      <input type="text" name="age" class="form-control" placeholder="Age">
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-child"></i>
    <input type="text" name="kids" class="form-control" placeholder="kids">
    </div>
    <div class="inner-addon left-addon">
      <i class="fa fa-child"></i>
    <input type="text" name="days" class="form-control" placeholder="Care Days">
    </div>
      <div id="form-group" class="image inner-addon left-addon">
        <div class="upload-btn-wrapper">
          <button class="upload">Upload a image</button>
          <input type="file" name='image' id="addPic" className="btn btn-warning addPic form-control" />
        </div>
      </div>

        <div id="recaptcha" class="recaptcha">
          <div class="g-recaptcha" data-sitekey={{recapkey}}></div>
        </div>
  

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

    <button class="submit" type="submit">Create account</button>
    <p class="acc">Already Having an account? <a class="link" href='/parent/login'>Log In</a></p>
  </form>
</div>

<!-- Footer -->
<footer>
  <div class="footer-bottom text-center">
    Copyright <i class="fa fa-copyright"></i> <script>document.write(new Date().getFullYear())</script> {{title}}
  </div>
</footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/javascript/main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
</body>
</html>